@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazirmatn';
  src: url('https://fonts.gstatic.com/s/vazirmatn/v13/Dxxo8j6PP2D_kWMGC-0gE54f2cCu.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: 'Vazirmatn', sans-serif;
  -webkit-tap-highlight-color: transparent;
}